.popup {
    position: fixed;
    top: 60px;
    right: 1px;
    width: 120px;
    height: 250px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure it's on top of other elements */
  }
  
  .popup img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .popup p {
    margin-bottom: 10px;
    size:10px;
    color: black;
  }

  .popup pp {
    margin-bottom: 10px;
    size:10px;
    color: black;
  }